.jumbotron {
    padding: 10rem 0;
}

.jumbotron.footer {
    padding: 3rem 0;
}

.element {
    padding-bottom: 2rem;
    border-top-width: 0.15rem;
    border-top-style: solid;
    border-top-color: black;
}

code {
    background-color: #EEE;
    padding: 0.5rem;
    display: block;
    white-space: pre-wrap;
}

#banner {
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

#about {
    padding: 10rem 0;
}

#portfolio, #contact {
    padding: 5rem 0;
}

.color-section {
    background-color: #89a9b4;
    color: white;
}

.new-bg-lg {
    background-image: url("../img/bg-white-lg.jpg");
    background-size: cover;
    background-position: center;
}

.new-bg {
    background-image: url("../img/bg-white.jpg");
    background-size: cover;
    background-position: center;
}

#invasive-img {
    object-position: 0 0;
}

#origami, #invasive {
    padding: 2rem;
    max-width: 960px;
    margin: 0 auto;
}

.footer p {
    margin: 0;
}

.link {
    color: rgba(255, 255, 255, 0.5);;
    text-decoration: none;
}

.link:hover, link:focus {
    color: rgba(255, 255, 255, .75);;
    text-decoration: none;
}

.link2 {
    color: #666666;
    text-decoration: none;
}

.link2:hover, link2:focus {
    color: #003399;
    text-decoration: none;
}

.card-deck {
    margin-top: 1rem
}

.card-deck .card {
    max-width: 450px;
}

.card-deck .card::not(:last-child) {
    margin-bottom: 15px;
}

.card-overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.card a {
    text-decoration: none;
    height: 100%;
}

.card img {
    height: 100%;
    object-fit: cover;
    transition: .5s ease;
    backface-visibility: hidden;
}

.card:hover img, .card a:focus img  {
    opacity: 0.2;
}

.card:hover .card-overlay, .card a:focus .card-overlay {
    opacity: 1;
}

.card-text {
    color: #0000B5;
}

.img-resize {
    width: 50%;
    height:auto;
}

@media screen and (max-width: 768px){
    .new-bg-lg {
        background-image: url("../img/bg-white-lg2.jpg");
    }
}

@media screen and (max-width: 576px){
    .img-resize {
        height: auto;
        width: 100%;
    }

    .new-bg-lg {
        background-image: url("../img/bg-white-lg3.jpg");
    }
}
